<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://okkindreddownloadimagesproduction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dbecd4d6-c07b-4709-b438-cb9debcfcb1a/resourcegroups/okkindredprod/providers/Microsoft.Web/sites/okkindreddownloadimagesproduction</ResourceId>
    <UserName>$okkindreddownloadimagesproduction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://okkindreddownloadimagesproduction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>